/* UNIVERSAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
html {
    scroll-behavior: smooth;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
}
/* UNIVERSAL STYLING END */

/* BASE STYLING */
.page-title {
    margin-bottom: 10%;
}
/* BASE STYLING END */

/* YTOMPEG STYLING */
.convert-box{
    width: 100%;
    max-width: 800px;
}

.email-box{
    width: 100%;
    max-width: 500px;
}
/* YTOMPEG STYLING END */